<div>
  <h2>Hello <%= @user.name %>!</h2>
</div>

<h2>Items</h2>
<table class="table"> 
<thead>
	<th>Item</th>
	<th>Completed</th>
	<th>Time Remaining</th>
</thead>
	<%= render @user.items %>
</table>

<% if @user == current_user %>
	<%= render "items/form" %>
<% end %>