<!-- only put code needed to display one item. -->
<tr id="item-<%= item.id %>">
  <td><%= item.name %></td>
  <td><%= link_to "", user_item_path(@user, item.id), method: :delete, class: 'glyphicon glyphicon-ok', remote: true %></td>
  <td><%= distance_of_time_in_words(Time.now, item.created_at + 7.days) %></td>
</tr>


<!-- refer to mackenzie child _todo_items.html.erb and "building a checklist tutorial" 1:00hour -->

